# Basic
APP_NAME="Ops Pilot"
APP_KEY=
ENVIRONMENT=development
PORT=3001
APP_URL=http://localhost:3001
APP_VERSION="1.0.0"

CORS_DOMAINS=http://localhost:${PORT}

# SECRET KEY
AES_ENC_KEY=
AES_IV=

# Database
DB_CONNECTION=postgres
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=ops-pilot
DB_USERNAME=
DB_PASSWORD=

# MAIL
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="${APP_NAME} <${MAIL_USERNAME}>"
MAIL_FROM_NAME="${APP_NAME}"

# SWAGGER PASSWORD
SWAGGER_USERNAME=
SWAGGER_PASSWORD=

# ADMIN PASSWORD
SUPER_ADMIN_PASSWORD=
ADMIN_PASSWORD=

# ADMIN DETAILS
COMPANY_NAME=
COMPANY_PHONE_NUMBER=
COMPANY_EMAIL=
COMPANY_ADDRESS=
